@import url('https://fonts.googleapis.com/css?Raleway|family=Roboto&display=swap');

body {
  background-color: #272727;
  font-family: 'Raleway', sans-serif;
  color: white;

}

h1, h3 {
  color: #ff652f;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 1.8em;

}
h3 {
  font-size: 1.4em;

}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 6px;
  width: 10%;
}

img {
  border-radius: 50%;
  width: 6em;
}

a {
  color: white;
}
a:hover {
  color: #ff652f;
}

.goldStars {
  color: #FFD700;
}